@import "bootstrap/dist/css/bootstrap.min.css";
@import "./products/carrousel.css";
@import "./products/pinnedCarrousel.css";
@import "./products/show.css";
@import "./products/home.css";
@import "./blogs/blogs.css";
@import "./blogs/filters.css";

.navbar{
    background-color: #ecfdff;
}
.div-admin-banner{
    width: 100vw;
    height: 45vh;
    background-color: #ecfdff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.home-containers{
    padding-left: 0;
}
.home-container{
    margin: 0;
    padding: 0;
    max-width: 1100px;
    justify-self: center;
}